@use '../../styles/variables' as *;

.user-card {
  display: flex;
  width: 100%;
  height: auto;
  background-color: var(--background-section);
  border-radius: $radius-20;
  padding: $spacing-600;
  box-shadow: var(--box-shadow);

  &--empty {
    flex-direction: column;
    text-align: center;
  }

  &__error {
    padding: $spacing-150;

    &--title {
      font-size: $text-2-size;
      font-weight: $weight-bold;
      color: var(--error-title);
    }

    &--subtitle {
      color: var(--error-subtitle);
      font-size: $text-5-size;
      font-weight: $weight-bold;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    overflow: hidden;
  }

  &__name {
    font-size: $text-1-size;
    line-height: $text-1-line-height;
    color: var(--text-title);
  }

  &__login {
    color: var(--text-subtitle);
    font-size: $text-4-size;

    &:hover {
      text-decoration: underline;
    }
  }

  &__avatar {
    width: 117px;
    height: 117px;
    border-radius: $radius-full;
    margin-right: $spacing-300;
  }

  &__bio {
    color: var(--text-bio);
    padding: $spacing-300 0;
    font-size: $text-6-size;
    opacity: var(--text-bio-opacity);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__joined {
    margin-left: auto;
    white-space: nowrap;
    text-align: right;
    color: var(--text-bio);
  }

  &__wrapper {
    flex: 1;
    min-width: 0;
  }

  &__stats {
    background-color: var(--background-body);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: background-color 0.8s ease;
    width: 100%;
    height: 85px;
    padding: $spacing-200 0 $spacing-200 $spacing-400;
    border-radius: $radius-12;
  }

  &__stat-label {
    font-size: $text-7-size;
    line-height: $text-7-line-height;
    color: var(--text-bio);
  }

  &__stat-value {
    font-size: $text-2-size;
    line-height: $text-2-line-height;
    font-weight: $weight-bold;
    color: var(--text-subtitle-section);
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: $spacing-300;
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: $text-6-size;
    color: var(--text-input);
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: var(--text-input);
  }
}
