$neutral-900: #141d2f;
$neutral-800: #1e2a47;
$neutral-700: #2b3442;
$neutral-500: #4b6a9b;
$neutral-300: #697c9a;
$neutral-200: #90a4d4;
$neutral-100: #f6f8ff;
$neutral-0: #ffffff;

$blue-500: #0079ff;
$blue-300: #60abff;

$red-500: #f74646;

$box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-none: none;

$font-primary: 'Space Mono', monospace;

$weight-regular: 400;
$weight-bold: 700;

$text-1-size: 26px;
$text-1-line-height: 120%;

$text-2-size: 22px;
$text-2-line-height: 140%;

$text-3-size: 18px;
$text-3-line-height: 140%;

$text-3-mobile-size: 13px;
$text-3-mobile-line-height: 140%;

$text-4-size: 16px;
$text-4-line-height: 150%;

$text-5-size: 16px;
$text-5-line-height: 150%;

$text-6-size: 15px;
$text-6-line-height: 150%;

$text-7-size: 13px;
$text-7-line-height: 150%;

$text-8-size: 13px;
$text-8-line-height: 140%;

$spacing-0: 0px;
$spacing-025: 2px;
$spacing-050: 4px;
$spacing-075: 6px;
$spacing-100: 8px;
$spacing-125: 10px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-250: 20px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;

$radius-0: 0px;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-full: 999px;
