@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import './variables';

body {
  font-family: $font-primary;
  background-color: var(--background-body);
  transition:
    color 1s ease,
    background-color 1s ease;
}
