@use '../../styles/variables' as *;

.search-bar {
  &__input-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--background-section);
    padding: $spacing-200;
    border-radius: $radius-20;
    width: 100%;
    flex-wrap: nowrap;

    &:focus-within {
      border: 2px solid $blue-300;
      transition: all 0.1s ease;
    }
  }

  &__input {
    background-color: transparent;
    color: var(--text-input);
    font-size: $text-3-size;
    width: 100%;

    &::placeholder {
      color: var(--text-input);
      font-size: $text-3-size;
      opacity: var(--text-bio-opacity);
    }
  }

  &__icon {
    margin-right: $spacing-250;
  }

  &__error {
    white-space: nowrap;
    color: $red-500;
    font-size: $text-5-size;
    font-weight: $weight-bold;
    margin-right: $spacing-300;
    white-space: nowrap;
    flex-shrink: 0;
  }

  &__button {
    background-color: $blue-500;
    color: $neutral-0;
    width: 107px;
    height: 48px;
    border-radius: $radius-10;
    cursor: pointer;
    font-size: $text-5-size;
    font-weight: $weight-bold;
    flex-shrink: 0;

    transition: background-color 0.5s ease;

    &:hover {
      background-color: $blue-300;
    }
  }
}
