@use './styles/variables' as *;

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  gap: 30px;

  &__loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;

    &-icon {
      width: 90px;
      height: 90px;
      fill: var(--text-title);
    }

    &-text {
      color: var(--text-title);
    }
  }
}

@media (max-width: 768px) {
  .app {
    padding: $spacing-250;

    &__loading {
      &-icon {
        width: 60px;
        height: 60px;
      }

      &-text {
        font-size: $text-3-mobile-size;
      }
    }
  }
}
