@use './styles/variables' as *;

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  gap: 30px;
}

@media (max-width: 768px) {
  .app {
    padding: $spacing-250;
  }
}
