@use './styles/variables' as *;

.app {
  position: relative;
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.app__loading {
  position: absolute;
  inset: 0;
  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background: var(--bg-primary);

  transition:
    opacity 0.6s ease,
    visibility 0.6s ease,
    transform 0.45s ease;
  transform-origin: center;

  &--show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }

  &--hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6px);
    pointer-events: none;
  }

  &-icon {
    width: 90px;
    height: 90px;
    fill: var(--text-title);
  }

  &-text {
    color: var(--text-title);
  }
}

.app__content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  transition:
    opacity 0.45s ease,
    visibility 0.45s ease,
    transform 0.45s ease;
  transform-origin: top center;

  &--show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }

  &--hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(6px);
    pointer-events: none;
  }
}

@media (max-width: 768px) {
  .app {
    padding: $spacing-250;
    min-height: 80vh;

    &__loading {
      &-icon {
        width: 60px;
        height: 60px;
      }

      &-text {
        font-size: $text-3-mobile-size;
      }
    }
  }
}
